/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styling */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

p {
  margin-bottom: 2rem;
}

a:link,
a:visited {
  display: inline-block;
  text-align: center;
  width: 20rem;
  padding: 1.2rem 2.4rem;
  background-color: burlywood;
  border-radius: 1rem;
  text-decoration: none;
  color: blue;
  transition: background-color 0.3s;
}

a:hover,
a:active {
  color: blue;
  background-color: rgb(175, 139, 92);
}
